<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/carrossel.css">
</head>
<body>
    <div class="container">
        <h2>P'Thiago</h2>
        <p>Este site foi criado para informar e entreter.</p>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
        </ul>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
        	<div class="item active">
        		<img src="img\maxresdefault.jpg" class="first-slide">
        		<div class="container">
        			<div class="carousel-caption">
        				<h1>Boys' love: The unstoppable rise of same-sex soapies in Thailand</h1>
                        <a href="http://www.abc.net.au/radionational/programs/latenightlive/together-with-me/9859900"tabindex="1" role="button">Link
                        </a>
        				
        			</div><!-- carousel-caption-->
        		</div><!-- container-->
        	</div><!-- item active-->
        	<div class="item">
        		<img src="img\lovesick2.jpg" class="second-slide">
        		<div class="container">
        			<div class="carousel-caption">
        				<h1>Boys in Love</h1>
                        <a href="https://www.newyorker.com/culture/culture-desk/boys-in-love" tabindex="2" role="button">Link</a>
        				
        			</div><!-- carousel-caption-->
        		</div><!-- container-->
        	</div><!-- item active-->
        	<div class="item">
        		<img src="img\hq.jpg" class="third-slide">
        		<div class="container">
        			<div class="carousel-caption">
        				<h1>Homem gelo tem 1ª noite gay nos quadrinhos do X-Men Gold<h1>
        				<a href="https://poenaroda.com.br/pop/homem-gelo-tem-1a-noite-gay-nos-quadrinhos-do-x-men-gold/" tabindex="3" role="button">Link</a>
        			</div><!--carousel-caption-->
        		</div><!-- container-->
        	</div><!-- item active-->
        	</div>
        </div><!--- carousel-inner --->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</a>

		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</a>
	</div>
</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

<div class="jumbotron text-center">
  <h1>Notícias que podem interessar</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="img\india.jpg" class="third-slide">
            <h1>Índia despenaliza a homossexualidade</h1>
            <p>Cinco juízes da Suprema Corte da Índia decidiram por unanimidade despenalizar a homossexualidade entre pessoas adultas no país asiático. A histórica sentença desta quinta-feira, 6, estabelece que “as relações sexuais entre adultos homossexuais em privado não constituem um delito”, e que qualquer norma que persiga essas práticas é “discriminatória e uma violação dos princípios constitucionais”.</p>
            <a href="https://brasil.elpais.com/brasil/2018/09/06/internacional/1536217018_424450.html" tabindex="1" role="button">Link</a>
            
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="img\india3.jpeg" class="third-slide">
            <h1>Buzz Lightyear e Woody se casaram em uma festa épica com fantasias da Disney</h1>
            <p>Notícia importante: Buzz Lightyear passou seu laser de modo ataque para modo amor. E se casou com Woody!
            Jason Bitner e Garrett Smith, de Chicago, são fãs enormes da Disney. Por isso, quando se casaram, em outubro, decidiram que a festa seria baseada no tema "Disney".</p>
            <a href="https://www.huffpostbrasil.com/2018/09/19/buzz-lightyear-e-woody-se-casaram-em-uma-festa-epica-com-fantasias-da-disney_a_23532955/?utm_hp_ref=br-lgbt" tabindex="1" role="button">Link</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="img\india2.jpg" class="third-slide">
            <h1>5 reflexões que você deveria ler sobre LGBTIfobia online</h1>
            <p>Porque o fim da violência contra a população LGBTI também é uma responsabilidade sua.</p>
            <a href="https://www.huffpostbrasil.com/2018/08/18/5-reflexoes-que-voce-deveria-ler-sobre-lgbtifobia-online_a_23504810/?utm_hp_ref=br-lgbt" tabindex="1" role="button">Link</a>
        </div>
    </div>
  </div>
</div> 	
</body>
</html>