{% extends 'base.html' %}

{% block title %}{{ super() }} - Dashboard{% endblock %}

{% block content %}

<div class="jumbotron">
    		<center><div class="cotainer"><img height="500" width="1080" src="{{ url_for('static', filename='img/india2.jpg') }}" class="third-slide"></div>
    		<div>
            <h1>5 reflexões que você deveria ler sobre LGBTIfobia online</h1>
            </div>
    		</center> 
    		<p>O HuffPost Brasil mediou na última quinta-feira (15) o debate de lançamento do guia Ponha Fim ao Bullying LGBTI+, criado pela TODXS, startup social que atua promoção dos direitos da comunidade LGBTI, e pelo Facebook Brasil.
    		</p>

    		<p>O material, disponível para download gratuito na Central de Segurança do rede social e no site da TODXS,incentiva as pessoas a denunciarem a LGBTIfobia online e traz informações sobre as políticas e ferramentas de segurança do Facebook para ajudar o usuário a se manter seguro.

            A fim de apresentar ao público diferentes perspectivas sobre o assunto, o evento de lançamento do guia reuniu a drag queen e youtuber Lorelay Fox, dona do canal Para Tudo; Amara Moira, travesti e autora do livro E Se Eu Fosse Puta, e Fernanda Castilhos, gerente de desenvolvimento da TODXS.            </p>

			<p> A seguir, você acompanha cinco reflexões apresentadas pelas durante o debate que mostram que o fim desse tipo de violência no Brasil - o país que mais mata pessoas LGBTI no mundo - depende do engajamento urgente de todos os cidadãos - independentemente da orientação sexual ou identidade de gênero.
			</p>
			<p>
			1. Pessoas trans e identidade de gênero
            "O fato de pessoas trans existirem coloca em xeque o sistema vigente na sociedade. Porque a partir do momento que sou criada para ser homem e reivindico uma identidade feminina ou sou criada para ser mulher e reivindico uma identidade masculina, eu trago à tona o que significa ser homem e o que significa ser mulher na sociedade. E as pessoas ficam apavoradas com a possibilidade de essas palavras começarem a ter outros sentidos. Muitas vezes, elas preferem atacar essas novas verdades que vão surgindo do que pensar outras maneiras de explicar o que elas são." - Amara Moira
    		</p>    
            <p>
                2. O importante apoio ao LGBTI vítima de bullying

                "Ao ver alguém sofrendo bullying - não só no mundo virtual como na vida real - em vez de ir brigar com os agressores, vá e dê seu apoio à vítima. Porque entrar numa briga com esse tipo de agressor, pode também resultar em dano a você. Eu acredito que a união fortalece muito mais do que você simplesmente tentar bater nos outros igual eles estão batendo em você. No fundo, o clima de descontentamento e ódio em todo mundo é a reação que esse tipo de agressor quer." - Lorelay Fox
            </p>
                <p>3. Autoproteção do LGBTI nas redes sociais

                "Bloqueie de forma preventiva grupos de pessoas que têm discurso de ódio e que vão te machucar. Não existe mais essa separação de online e offline. O que acontece online afeta sua vida offline, altera a sua disposição para lidar com o dia a dia, tarefas e planos. É importante você se livrar dessas pessoas." - Amara Moira</p>

                <p> 4. Recursos do Facebook que protegem contra ataques de ódio

                "Entre as ferramentas que o Facebook oferece estão filtros de bloqueio de comentários ofensivos. Você pode buscar esses filtros na Central de Ajuda. Elas permitem, inclusive, a escolha de palavras-chavs que você não quer que sejam publicadas nos comentários das suas publicações. Use esse essas ferramentas. E quando você se deparar com a manifestação gratuita de ódio, denuncie. A rede social também disponibiliza ferramenta para isso." - Fernanda Castilhos
                </p>
                <p>5. O necessário envolvimento de todos na luta contra a LGBTIfobia

                "As pessoas não sentem vontade de se engajar em coisas pelas quais elas nunca passaram. Acho que isso é um grande problema da nossa sociedade. Não ser vítima de bullying ou preconceito - online e offline - é um privilégio. Por isso, eu deixo aqui uma pergunta: o que você faz com esse seu privilégio? As pessoas privilegiadas precisam agir. Porque ela já são blindadas pela sociedade para ter uma voz mais ouvida." - Lorelay Fox
                </p>
 <div>
		

{% endblock %}