{% extends 'base.html' %}

{% block title %}{{ super() }} - Dashboard{% endblock %}

{% block content %}

<div class="jumbotron">
    		<center><div class="cotainer"><img height="500" width="1080" src="{{ url_for('static', filename='img/india3.jpeg') }}" class="third-slide"></div>
    		<div>
            <h1>Buzz Lightyear e Woody se casaram em uma festa épica com fantasias da Disney</h1>
            </div>
    		</center> 
    		<p>Notícia importante: Buzz Lightyear passou seu laser de modo ataque para modo amor. E se casou com Woody!

            Jason Bitner e Garrett Smith, de Chicago, são fãs enormes da Disney. Por isso, quando se casaram, em outubro, decidiram que a festa seria baseada no tema "Disney".

            Para deixar tudo ainda mais adorável, os dois decidiram se fantasiar de Buzz e Woody da série Toy Story. Bitner está usando o chapéu de caubói e Garrett Smith, a roupa de astronauta.
    		</p>

    		<p>“Fala sério – você já viu um casal mais lindinho?

                Bitner disse ao HuffPost que sempre quis que You've Got a Friend in Me fosse a canção da primeira dança de seu casamento. Sendo assim, as fantasias fazem todo sentido.

                "Além disso", falou Bitner, que ficou noivo de Smith dois anos atrás na Disneylândia, "Toy Story' é um de nossos filmes favoritos. Esses dois personagens nos lembram nossas próprias personalidades."
            </p>

			<p> Os noivos pediram a todos os convidados que se fantasiassem de seus personagens favoritos de filmes da Disney. O casamento aconteceu no 63rd Street Beach House, em Chicago, nos Estados Unidos.
			</p>
			<p>
			Bitner disse:

            "Nossos familiares e amigos devem ter achado que estávamos malucos por fazer um casamento a fantasia no meio de agosto, mas foi uma surpresa feliz descobrir que a maioria dos convidados entrou totalmente no espírito da coisa e se vestiu de acordo".

            Houve príncipes glamorosos e aliens fofos e malcomportados:
    		</p>     
 <div>
		

{% endblock %}