{% extends 'base.html' %}

{% block title %}{{ super() }} - Dashboard{% endblock %}

{% block content %}

<div class="jumbotron">
    		<center><div class="cotainer"><img height="500" width="1080" src="{{ url_for('static', filename='img/india.jpg') }}" class="third-slide"></div>
    		<div>
            <h1>Índia despenaliza a homossexualidade</h1>
            </div>
    		</center> 
    		<p>Cinco juízes da Suprema Corte da Índia decidiram por unanimidade despenalizar a homossexualidade entre pessoas adultas no país asiático. A histórica sentença desta quinta-feira, 6, estabelece que “as relações sexuais entre adultos homossexuais em privado não constituem um delito”, e que qualquer norma que persiga essas práticas é “discriminatória e uma violação dos princípios constitucionais”. . Desta forma, a decisão judicial encerra uma deliberação iniciada no princípio de julho, embora com origens numa luta pelo reconhecimento dos direitos dos homossexuais que durou mais de uma década. O coletivo LGTBI da Índia consegue assim atualizar o marco jurídico da maior democracia do mundo, onde continuava vigente uma anacrônica lei colonial de mais de 150 anos atrás.
    		</p>

    		<p>“As relações privadas e consensuais entre adultos do mesmo sexo não constituem uma violação do artigo 377 do Código Penal”, começou dizendo o presidente da Suprema Corte da Índia, Dipak Misra, depois de deliberar com seus colegas. A sentença abole as disposições contra os homossexuais estipuladas na lei vitoriana de 1861, ainda vigente Índia, que prevê que o “acesso carnal contra natura com um homem, mulher ou animal será apenado com a prisão perpétua, ou com a prisão limitada que poderá se estender a 10 anos e uma multa”.
    		Às portas do tribunal, uma multidão de membros do coletivo LGTBI e seus simpatizantes aguardavam desde as primeiras horas da manhã desta quinta-feira para ouvir a decisão final da corte. Desde que o debate começou, há dois meses, intuía-se que a sentença seria favorável aos homossexuais da Índia, que, segundo o último censo, somam quase dois milhões de indivíduos (num total de 1,3 bilhão de pessoas), embora se estime que muitos outros nunca tenham declarado sua orientação sexual às autoridades sanitárias, justamente por causa da criminalização decorrente dessa lei sobre os 4,8 milhões de membros da comunidade LGTBI na Índia.
    		“Não se tratava apenas de despenalizar, mas também de reconhecer nossos direitos fundamentais”, declarou Akhilesh Godi, um dos autores da ação, que já havia apontado a atitude positiva dos magistrados desde o início do processo.
    		</p>

			<p> Desde julho, os cinco juízes da Suprema Corte vinham fazendo referência à incompatibilidade entre o artigo 377 e o direito à privacidade, em relação a uma sentença da mesma corte no ano passado, em favor de preservar a orientação sexual como elemento principal do direito constitucional à privacidade dos cidadãos. Esta resolução foi a que permitiu ao coletivo LGTBI retomar uma batalha judicial iniciada em 2001.

			No começo deste século, a Fundação Naz, dedicada à prevenção do HIV entre grupos desfavorecidos, impugnou a constitucionalidade da lei devido ao risco que causava a um coletivo marginalizado e exposto a doenças sexualmente transmissíveis. Em 2009, o Tribunal Superior de Nova Deli declarou sua nulidade por violar os direitos fundamentais.

			Mas o julgamento foi anulado em 2013 por causa da pressão de grupos religiosos e indivíduos que consideravam que a decisão punha em risco a instituição do matrimônio. Por isso, dois juízes da Suprema Corte decidiram conjuntamente que a lei precisava ser submetida a consenso parlamentar, e não à decisão de um tribunal menor.

			Desta vez, e diferentemente da sentença de 2013, o Governo da Índia se manteve à margem, enquanto os magistrados indicaram sua intenção de declarar a nulidade da lei, independentemente da sua revogação pelo Executivo. Assim, os defensores do artigo 377 ficaram reduzidos a vários grupos cristãos que insistiram até o último momento em que não existem provas científicas que sustentem que uma pessoa pode nascer com diferentes orientações sexuais, e que a anulação da lei levaria à propagação de doenças como a AIDS.
			</p>
			<p>
			A declaração formal da Suprema Corte se refere especificamente às relações “consensuais entre adultos”, sem anular por completo a lei, que protege contra crimes sexuais em que as vítimas são homens. Na falta de uma norma específica que contemple essa situação, as previsões atuais relativas ao estupro no Código Penal indiano só se referem aos casos de agressões sexuais a mulheres, salvo a recente Lei de Prevenção dos Crimes Sexuais contra Menores, que especifica o delito sexual contra qualquer criança.

			Por isso, a Suprema Corte salientou a noção do consenso em sua sentença, retendo assim a parte do artigo 377 referida à vaga noção de “acesso carnal contra natura” para continuar punindo atividades sexuais contra a vontade de homens, e especialmente contra os membros das comunidades transgênero e intersexual.
    		</p>     
 <div>
		

{% endblock %}


